# Byte-compiled / optimized / dll
__pycache__/
*.py[cod]
*$py.class
.vscode


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.exe

# Translations
*.pot

# Environments
.env/
.env_old/
.venv
env/
venv/
ENV/

# PyCharm
.idea/

.ipynb_checkpoints/
*.pem
.DS_Store